@import url(_header.scss);


.header {
    display: flex;
    flex-direction: column;

        &__cabecera{
            background-color: black;
            text-align: center;
        
        }
        &__cabecera-1 {
            color: white;
        }
        
        &__titulo {
            font-family: math;
            text-align: center;
            font-size: 1rem;
            margin: 20px;
        }

        &__titulo-1{
            text-decoration: none;
            color: black;
        }

        &__logo{
            width: 100px;
            margin: 2px;
            background: rgb(0,212,255)
        }

        &__menu {
            display: flex;
            list-style: none;
            justify-content: center;
            margin-block-end: 2rem;
        }
}

/*anidacion por etiqueta*/

.header{

    div{
        
        p{
        margin-top: 0;
        margin-bottom: 0;
        }
    }
    div{
        nav{
            ul{
                li{
                    padding-left: 30px;
                    font-size: 1.5rem;
                    a{
                        text-decoration: none;
                        color: black;
                        &:hover{
                            background: #777676;
                            border-radius: 5px;
                            padding: 5px;
                            color: white;
                        &:active{
                            background: #272121;
                            color: white;
                            border-radius: 5px;
                            padding: 5px;
                            font-size: 30px;
                            }
                        }
                    }
                }
            }
        }
    }

}